*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif; 
}  

:root{
    --primary-color: white;
    --secondary-color: #281A12;
    --diamond: #FFE9A0;
    --card-text: #767676;
    --card-color: #d9d9d9;
    --main: #333333;
    --btn-color: #579cc2;
    --btn-color-2: rgba(154,205,230,0.18);
}

/*header-area */

#header{
    background-image: url(../images/hero_desktop.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-bar{
    display: flex;
    padding: 49px 60px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-logo{
    width: 200px;
    height: 60px;
}

.nav-bar-right{
    display: flex;
    align-items: center;
    gap: 72px;
}

.nav-bar-right-texts{
    display: flex;
    gap: 40px;
}

li{
    list-style: none;

}

li a{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: white;
}

li a:hover{
    color: var(--btn-color);
}

.user-icon{
    background-image: url(../images/user-img.jpg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 60px;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    color: var(--primary-color);
}

.hero h1{
    font-weight: 800;
    font-size: 175px;
}

.hero h3{
    font-weight: 600;
    font-size: 25px;
    gap: 12px;
}

/* hamburger area */
.hamburger{
    display: none;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 100%;
  margin: 5px auto;
  background: var(--primary-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

/* celebrant of the day */
#celebrant{
    position: relative;
    margin-top: 40px;
}


.celebrant-text{
    display: flex;
    flex-direction: column;
    gap: 12;
    align-items: center;
    text-align: center;
}

.celebrant-text h2{
    font-weight: 700;
    font-size: 48px;
}

.celebrant-text h3{
    font-weight: 400;
    font-size: 16px;
}

.grid-row{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 100px 0px;
    justify-self: center;
}

.form-box{
    display: flex;
    flex-direction: column;
    background-color: var(--card-color);
    border-radius: 30px;
    width: 350px;
    min-height: 400px;
    padding: 40px;
    margin: 70px 0px;
    justify-self: center;
    align-items: center;
}

#dataContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    gap: 20px;

}

.top-bar{
    display: flex;
    height: 64px;
    padding-bottom: 30px;
    gap: 12px;
    align-items: center;
    border-bottom: 1px solid var(--card-text);
}

.top-bar-img{
    width: 64px;
    height:64px;
}

.top-bar-img1{
    width: 64px;
    height:64px;
    border-radius: 100px;
    transform: rotateY(180deg);
    object-fit: cover;
    object-position: top;
}

.top-bar-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-bar-text h2{
    font-weight: 700;
    font-size: 16px;
    color: var(--main);
}

.top-bar-text h3{
    font-weight: 400;
    font-size: 14px;
    color: var(--card-text);
}

.line{
    width: 100%;
    height: 20px;
    color: black;
}

.grid-card-text{
    margin: 20px 0px;
}
.grid-card-text h2{
    font-weight: 400;
    font-size: 16px;
    color: var(--main);
    text-align: justify;
}

.grid-card-text span{
    font-weight: 700;
}

.wish-btn{
    background-color: var(--btn-color);
    color: var(--primary-color);
    border-radius: 100px;
    padding: 20px;
    border: none;
    cursor: pointer;
}

.wish-btn:hover{
    color: var(--btn-color);
    background-color: var(--card-color);
    border: 1px solid var(--btn-color);
}

.see-more-btn{
    border: 1px solid var(--btn-color);
    color: var(--btn-color);
    border-radius: 100px;
    padding: 20px 0px;
}

.see-more-btn:hover{
    background-color: var(--btn-color);
    color: var(--primary-color);
}
.wishes-btn{
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.wishes-btn h4{
    font-weight: 700;
    font-size: 14px;
}

/* upcoming birthdays */
#upcoming{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 100px 100px;
    background-color: var(--btn-color-2);
}

.upcoming-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
}

.upcoming-text h2{
    font-weight: 700;
    font-size: 48px;
    color: var(--main);
}

.upcoming-text h3{
    font-weight: 400;
    font-size: 16px;
    color: var(--main);
}

.upcoming-calendar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
    row-gap: 30px;
}

.upcoming-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--btn-color);
    padding-bottom: 10px;
}

.upcoming-card:last-child{
    border-bottom: none;
    padding-bottom: 0px;
}

.card-1{
    display: flex;
    align-items: center;
    gap: 25px;
}

.card-2{
    display: flex;
    flex-direction: column;
}

.card-3{
    padding: 6px 10px;
    text-align: center;
    background-color: var(--primary-color);
}

.card-2 h4{
    font-weight: 400;
    font-size: 25px;
    color: var(--main);
}

.card-2 h5{
    font-weight: 700;
    font-size: 40px;
    color: var(--main);
}

.card-4{
    background-color: var(--btn-color);
    padding: 10px;
}

.card-4 h4{
    color: var(--primary-color);
}

.card-id{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-id-1{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.card-id h2{
    font-weight: 700;
    font-size: 25px;
    color: var(--main);
    padding-top: 10px;
}

.card-id h3{
    font-weight: 400;
    font-size: 25px;
    color: var(--card-text);
}

.see-past-btn{
    border: 1px solid var(--btn-color);
    border-radius: 100px;
    padding: 15px 10px;
    background-color: var(--btn-color-2);
    max-width: 193px;
    margin-top: 10px;
}

.card-id h4{
    font-weight: 700;
    font-size: 14px;
    color: var(--btn-color);
}

.upcoming-card-img{
    max-width: 193px;
    max-height: 193px;
    border-radius: 30px;
}

/* footer  */
footer{
    background-color: var(--main);
    padding: 83px;
}

.footer-1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-corner{
    display: flex;
    flex-direction: column;
    gap: 45px;
    max-width: 499px;
}

.footer-img{
    width: 300px;
    height: 87px;
}

.top-frame-text{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.top-frame-text h2{
    font-weight: 700;
    font-size: 30px;
    color: var(--primary-color);
}

.top-frame-text h3{
    font-weight: 400;
    font-size: 20px;
    color: var(--primary-color);
}

.about-us{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.about-us h3{
    font-weight: 700;
    font-size: 16px;
    color: var(--primary-color);
}

.about-us h4{
    font-weight: 400;
    font-size: 14px;
    color: var(--primary-color);
}

.right-corner{
    display: flex;
    gap: 50px
}

.section-1{
    display: flex;
    flex-direction: column;
    gap: 26px;
    color: var(--primary-color);
}

.section-1 h2{
    font-weight: 700;
    font-size: 16px;
}

.section-1 h4{
    font-weight: 400;
    font-size: 14px;
}

.section-1b{
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.b{
    font-weight: 700;
    font-size: 14px;
}

.footer-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}
.footer-bar .b{
    color: var(--card-text);
}

.footer-bar-2{
    display: flex;
    align-items: center;
    gap: 10px;
}

.group{
    width: 22px;
    height: 22px;
}

/* smaller screen for responsiveness */
@media (max-width: 1200px) {
    #header{
        height: 70vh;
    }

    .nav-logo{
        width: 100px;
        height: 30px;
    }

    .nav-bar{
        padding: 20px 30px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
        background-color: var(--btn-color);
    }

    .hamburger.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
        background-color: var(--btn-color);
    }

    .nav-bar{
        padding: 10px;
    }

    li a{
        color: var(--btn-color);
    }

    li a:hover{
      color: #ccb257;
    }


    .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        gap: 25px;
        flex-direction: column;
        background-color: var(--primary-color);
        width: 250px;
        padding: 20px 0px;
        height: 500px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;    
    }

    .nav-menu.active{
        padding: 20px ;
        transform: translateX(0);
    }

    .nav-bar-right-icons{
        gap: 20px;
    }

    /* hero section */
    .hero h1{
        font-weight: 800;
        font-size: 80px;
    }

    .hero h3{
        font-weight: 600;
        font-size: 15px;
        gap: 12px;
    }

    .diamond{
        display: none;
    }

    .birthday-cap-left{
        width: 60px;
        height: 60px;
    }

    .birthday-cap-right{
        width: 60px;
        height: 60px;
    }

    .celebrant-text h2{
        font-weight: 700;
        font-size: 30px;
    }
    .grid-row{
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: 1fr;
    gap: 20px;
    margin: 100px 0px;
    justify-self: center;
    justify-items: center;
    }

    /* upcoming birthdays */
    #upcoming{
        padding: 80px 20px;
        gap: 70px;
    }

    .upcoming-card-img{
        max-width: 81px;
        max-height: 81px;
        border-radius: 10px;
    }

    .upcoming-text{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 12px;
    }

    .upcoming-text h2{
        font-size: 20px;
    }

.upcoming-text h3{
    font-size: 14px;
}

.card-1{
    gap: 12px;
}


.card-3{
    padding: 6px 10px;
    text-align: center;
}

.card-2 h4{
    font-size: 14px;
}

.card-2 h5{
    font-size: 20px;
}


.card-id{
    gap: 5px;
}

.card-id h2{
    font-size: 16px;
    padding-top: 10px;
}

.card-id h3{
    font-size: 14px;
}

.see-past-btn{
    padding: 5px 10px;
    margin-top: 5px;
}
 /* footer */
    footer{
    padding: 40px;
    }

    .footer-1{
    flex-direction: column;
    align-items: flex-start;
}

.left-corner{
    gap: 25px;
}

.footer-img{
    width: 165px;
    height: 45px;
}

.about-us{
    gap: 12px;
}

.right-corner{
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
    gap: 30px;
}

.footer-bar{
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}

.group{
    width: 16.67px;
    height: 16.67px;
}


}