*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif; 
}  

:root{
    --primary-color: white;
    --secondary-color: #281A12;
}

/*header-area */

#header{
    background-image: url(../images/hero.png);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.nav-bar{
    display: flex;
    padding: 49px 60px;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-bar-left{
    display: flex;
    gap: 15px
}

.nav-bar-left-texts{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.nav-bar-left-texts h5{
    font-weight: 700;
    font-size: 20px;
    margin: 0;
}

.nav-bar-left-texts h6{
    font-weight: 400;
    font-size: 12px;
    margin: 0;
}

.nav-bar-right{
    display: flex;
    align-items: center;
    gap: 72px;
}

.nav-bar-right-texts{
    display: flex;
    gap: 40px;
}

.nav-bar-right-icons{
    display: flex;
    align-items: center;
    gap: 35px;
}

li{
    list-style: none;

}

li a{
    font-weight: 600;
    font-size: 16px;
    margin: 0;
    text-decoration: none;
    color: white;
}

.user-icon{
    background-image: url(../images/user-img.jpg);
    background-position: center;
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 60px;
}

.hero{
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 70%;
    align-items: center;
    justify-content: center;
}

.hero-text{
    text-align: center;
    color: var(--primary-color);
}

.hero h1{
    font-weight: 800;
    font-size: 175px;
}

.hero h3{
    font-weight: 600;
    font-size: 25px;
    gap: 12px;
}

/* hamburger area */
.hamburger{
    display: none;
    align-items: center;
    cursor: pointer;
    width: 30px;
}

.hamburger span{
  display: block;
  height: 3px;
  width: 100%;
  margin: 5px auto;
  background: var(--primary-color);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  transform-origin: center;
}

@media (max-width: 1200px) {
    .nav-bar-left-texts h5{
        font-size: 12px;
    }

    .nav-bar-left-texts h6{
    font-size: 10px;
    }

    .nav-bar-left{
        gap: 10px;
    }

    .nav-logo{
        width: 25px;
        height: 30px;
    }

    .nav-bar{
        padding: 20px 30px;
    }

    .hamburger{
        display: block;
    }

    .hamburger.active span:nth-child(2){
        opacity: 0;
    }

    .hamburger.active span:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active span:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }

    #nav-bar{
        padding: 15px;
    }

    .nav-menu{
        position: fixed;
        top: 0;
        right: 0;
        gap: 10px;
        flex-direction: column;
        background-color: var(--secondary-color);
        width: 250px;
        padding: 20px 0px;
        height: 500px;
        transform: translateX(100%);
        transition: transform 0.3s ease-in-out;    
    }

    .nav-menu.active{
        padding: 20px ;
        transform: translateX(0);
    }

    .nav-bar-right-icons{
        gap: 20px;
    }

    /* hero section */

.hero h1{
    font-weight: 800;
    font-size: 80px;
}

.hero h3{
    font-weight: 600;
    font-size: 15px;
    gap: 12px;
}

}


/* @media (min-width: 769px) and (max-width: 900px) { */
    /* navbar area */
    /* #nav-bar{
        padding: 20px;
    }

    .hero{
        margin-top: -25%;
        padding: 30%;
    }
    .hero h1{
    font-weight: 800;
    font-size: 80px;
    }

.hero h3{
    font-weight: 600;
    font-size: 15px;
    gap: 12px;
}

} */

















/* @media (max-width: 768px) {
  #nav-bar{
    padding: 10px;
  }

  .nav-bar-right{
    gap: 35px;
  }
} */