*{
 padding: 0;
 margin: 0;
 box-sizing: border-box;
}

html{
 font-size: 62.5%;
}

body{
 font-family: 'Plus Jakarta Sans', sans-serif;
}

header{
 background-image: url(../images/hero_desktop.png);
  height: 100vh;
  background-size: cover;
  /* background-position: center; */
}


.nav-bar{
 display: flex;
 justify-content: space-between; 
 padding: 4.5rem 5.5rem 1rem 5.5rem;
}

.nav-bar-left-texts{
 font-size: 1.8rem;
 color: white;
}

.nav-bar-left{
 display: flex;
 gap: 2rem;
}
.nav-bar-right{
 display: flex;
 gap: 6rem;
 margin-top: 1.5rem;
}

.nav-bar-right-texts{
 display: flex;
 gap: 3.5rem;
 font-size: 1.6rem;
 font-weight: 600;
 
}

.nav-bar-right-icons{
 display: flex;
 gap: 3.5rem;
}

.nav-bar-right-texts li {
 text-decoration: none;
 list-style: none;
 gap: 1.2rem;
}

.nav-bar-right-texts li a{
 text-decoration: none;
 justify-content: space-evenly;
 color: white;
}

.title h1{
 color: white;
 font-size: 18.5rem;
 text-align: center;
 margin-top: 20rem;
}

.notif{
 display: flex;
 /* gap: 3.5rem; */
 justify-content: center;
 justify-content: space-evenly;
}