@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
	overflow-x: hidden;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
	--bg-color: #cfe5f3;
	--post-color: #767676;
	--post-bg: #f6f6f6;
	--nav-bg: #ececec;
}

/* pg structure */

/* header */
header {
	color: var(--white);
	background-image: url("../images/hero_mobile.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	gap: 10px;
	width: 100%;
	z-index: 1;
}

.nav {
	position: relative;
	width: 96%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
	z-index: 10;
}

.nav.mobile .right img {
	width: 90px;
	height: 30px;
}

.nav.mobile .hamburger {
	width: 35px;
	height: 40px;
	cursor: pointer;
}

.nav.mobile .left {
	display: flex;
	align-items: center;
	position: absolute;
	right: 0;
	top: 9.2rem;

	/* border: 2px solid red; */
}

.nav.mobile .show-or-hide {
	width: 64vw;
	max-width: 36rem;
	height: auto;
	display: none;
	z-index: 100;
}

.nav.mobile ul {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: var(--white);
	border-radius: 1.2rem;
}

.nav.mobile li {
	list-style: none;
	text-align: center;
}

.nav.mobile li:first-child {
	/* padding-top: 1.2rem; */
}

.nav.mobile li a {
	text-decoration: none;
	padding: 1.6rem;
	display: block;
	width: 100%;
	cursor: pointer;
}

.nav.mobile .left button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 1.6rem;
	font-size: 1.6rem;
	width: 100%;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
	border-radius: 0 0 1.2rem 1.2rem;
	padding: 1.6rem;
	margin-top: 1.2rem;
}

/* Desktop nav */
.nav.desktop {
	display: none;
}

/* main */

/* hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

.hero-content {
	color: var(--white);
	text-align: center;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.8rem;
	width: 90%;
	max-width: 40rem;
}

.hero-content p {
	width: 90%;
	max-width: 40rem;
}

.cta {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cta button {
	background-color: transparent;
	color: var(--white);
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.6rem;
	width: 88%;
	margin: 1.2rem auto;
	border: none;
}

.cta button:first-child {
	background-color: var(--primary-color);
	border: none;
}

.cta button:last-child {
	border: 2px solid var(--white);
}

#cta-btn a {
	text-decoration: none;
	color: var(--white);
}

/* countdown */
.count-down-container {
	width: 88%;
	margin: 0 auto;
	position: relative;
	z-index: 5;
}

.count-down {
	display: flex;
	justify-content: space-between;
	width: 80%;
	position: absolute;
	top: -5.6rem;
	left: 10%;
	right: 10%;
	transform: translate(0.5%, -4%);
	background-color: var(--primary-color);
	padding: 0.8rem 2.4rem;
	border-radius: 3.6rem;
	color: var(--white);
	z-index: 100;
}

.days,
.hours,
.minutes,
.seconds {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.count-down p:first-child {
	font-weight: 700;
	font-size: 2rem;
}
.count-down p:last-child {
	font-size: 1.2rem;
}

/* celebrant */
section {
	padding: 2.4rem;
	position: relative;
}

.celebration-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: -1;
}

.pop-left img,
.pop-right img {
	width: 52px;
	height: 52px;
	object-fit: contain;
}

.pop-left img {
	position: absolute;
	left: 0;
	top: -2.8rem;
}

.pop-right img {
	position: absolute;
	right: 0;
	top: -2.8rem;
}

.celebrant-title {
	text-align: center;
	margin-bottom: 4rem;
}

.title {
	font-size: 2.4rem;
	margin-bottom: 1.2rem;
}

.celebrant-title p {
	font-size: 1.52rem;
}

.celebrant-content {
	margin: 4.8rem 0;
	padding: 2.4rem 0;
	width: 100%;
	margin: 0 auto;
}

.images {
	margin-bottom: 3.6rem;
	text-align: center;
	position: relative;
}

.images img:first-child {
	width: 90%;
	max-width: 40rem;
}

.images img:last-child {
	position: absolute;
	top: 4rem;
	left: 2rem;
	max-width: 10rem;
	transform: translate(-4rem, -2rem);
}

.content {
	text-align: justify;
}

.content p {
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.salutation p {
	font-weight: 700;
}

.content span {
	font-weight: 700;
}

.content .cta button {
	width: 100%;
	margin-left: 0;
	border: 1px solid var(--primary-color);
}

.content .cta button:last-child {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

/* Countdown */
.bg-color-changed {
	background-color: var(--bg-color);
	padding: 4rem 2.4rem;
	text-align: center;
}

.celebrant {
	margin: 2.8rem 0;
}

.celebrant img {
	margin-bottom: 1.2rem;
}

.celebrant h5 {
	margin-bottom: 0.48rem;
	font-size: 1.6rem;
}

/* Wishes */
.wish {
	margin: 4rem 0;
}

.heading {
	display: flex;
	align-items: center;
	margin: 1.2rem 0;
}

.heading img {
	width: 5.2rem;
	margin-right: 1.6rem;
}

.name-time h5 {
	font-size: 1.6rem;
}

.name-time p {
	font-size: 1.2rem;
	margin: 0;
}

.heading + p {
	margin: 1.6rem 0;
}

.reply {
	display: flex;
	align-items: center;
}

.reply p:first-child {
	margin-right: 1.6rem;
	text-decoration: underline;
	cursor: pointer;
}

.emoji img {
	margin: 0;
	cursor: pointer;
}

/* comment */
.comment {
	background-color: var(--post-bg);
	color: var(--post-color);
	width: 88%;
	margin: 2rem auto 6.4rem;
	border-radius: 1.2rem;
}

.comment p {
	margin-bottom: 4rem;
}

.comment input {
	width: 100%;
	background-color: var(--post-bg);
	border: none;
	outline: none;
	border-bottom: 1.6px solid #d9d9d9;
}

.social-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3.2rem 0;
}

.icon-emoji img {
	margin-right: 1.2rem;
	cursor: pointer;
}

.social-btns button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 1.2rem 4rem;
	border-radius: 4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* Archives */
.archives {
	color: var(--white);
}

.archive {
	padding: 4rem 0;
	background-color: var(--primary-color);
	margin: 2.8rem 0;
	border-radius: 1.2rem;
}

.archive > img {
	width: 8rem;
	margin: 1.2rem 0;
}

.archive > p {
	font-weight: 700;
	font-size: 2rem;
}

.year + h5 {
	font-weight: 500;
	margin: 1.2rem 0;
}

.reactions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 9.6rem;
	margin: 2rem auto;
}

.reactions > div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.reactions img {
	width: 2.4rem;
}

.reactions + button {
	color: var(--primary-color);
	background-color: var(--white);
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.2rem;
	width: 20rem;
	margin: 1.2rem auto;
	border: none;
}

.archives-container + button {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: transparent;
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.6rem;
	width: 100%;
	margin: 1.2rem auto;
}

#arc-btn a {
	text-decoration: none;
	color: var(--primary-color);
}

/* footer */
footer {
	background-color: var(--secondary-color);
	color: var(--white);
	padding: 2.4rem;
}

footer .right {
	display: flex;
	align-items: center;
	gap: 1.6rem;
}

footer .right img {
	width: 72px;
	height: 30px;
}

footer .right .logo-text h2 {
	font-size: 1.6rem;
}

footer .right .logo-text p {
	font-size: 1.2rem;
}

.footer-content {
	margin: 4rem 0;
}

.footer-content h3,
.contact h3 {
	margin: 2rem 0;
}

.footer-content p {
	margin: 2rem 0;
	text-align: justify;
}

.footer-links ul {
	padding-left: 0;
}

.footer-links ul li {
	list-style: none;
	width: 100%;
	cursor: pointer;
	padding: 0.64rem 0;
	text-align: left;
	margin: 0.8rem 0;
}

.footer-links ul li a {
	text-decoration: none;
	color: var(--white);
}

.contact p {
	margin: 1.6rem 0;
}

.contact p > span {
	margin-left: 0.8rem;
}

.privacy-policy ul {
	display: grid;
	grid-template-columns: auto auto auto auto;
	font-size: 1.2rem;
	padding: 0;
	width: 100%;

	margin: 1.2rem 0;
}

.privacy-policy ul li {
	padding: 0;
	list-style: none;
}

.privacy-policy ul li a {
	color: var(--post-color);
	text-decoration: none;
}

.right-reserved p {
	color: var(--post-color);
	font-size: 1.2rem;
}

/* modal */
.form-container {
	z-index: 15;
	height: auto;
	width: 72%;

	position: absolute;
	top: 100%;
	left: 50%;

	transform: translate(-50%, -40%);
	background-color: var(--post-bg);

	border-radius: 0.8rem;
}

.close-container {
	width: 100%;
}

.close-form {
	position: absolute;
	right: 2.4rem;
	top: 1.6rem;
	cursor: pointer;
	width: 1.2rem;
}

.form-container form {
	display: flex;
	flex-direction: column;

	width: 90%;
	margin: 2rem auto;
}

.form-container label {
	margin: 2rem 0;
}

.form-container input,
select {
	display: block;
	width: 100%;
	margin: 1.2rem 0;
	padding: 1.2rem;
	font-size: 1.6rem;

	border: none;
	outline: none;
}

textarea {
	display: block;
	width: 100%;
	margin: 0.96rem 0;
	padding: 0.96rem;
	font-size: 1.6rem;

	border: none;
	outline: none;
}

/* input[type="submit"] {
	margin: 2rem 0;
	cursor: pointer;
	color: var(--white);

	font-weight: 700;
	background-color: var(--primary-color);
} */

button[type="submit"] {
	margin: 2rem 0;
	cursor: pointer;
	color: var(--white);
	font-weight: 700;
	background-color: var(--primary-color);

	display: block;
	width: 100%;
	padding: 1.2rem;
	font-size: 1.6rem;

	border: none;
	outline: none;
}

/* media queries */
@media (min-width: 450px) {
	/* Specific adjustments for tablets */
	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 2rem;
		transform: translate(-2rem, -2rem);
	}
}

@media (min-width: 560px) {
	/* Specific adjustments for tablets */
	h1 {
		width: 90%;
		max-width: 40rem;
	}

	.hero-content p {
		width: 90%;
		max-width: 40rem;
	}

	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 7.6rem;
		transform: translate(-2rem, -2rem);
	}
}

@media (min-width: 640px) {
	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 12rem;
		transform: translate(-2rem, -2rem);
	}
}

@media (min-width: 720px) {
	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 16rem;
		transform: translate(-2rem, -2rem);
	}

	.hero-content p {
		width: 100%;
		max-width: 64rem;
	}
}

/* Example for a tablet breakpoint */
@media (min-width: 768px) {
	/* Specific adjustments for tablets */

	h1 {
		width: 100%;
		max-width: 100rem;
	}

	.hero-content p {
		max-width: 64rem;
	}

	.cta {
		display: flex;
		flex-direction: row;
		width: 72%;
	}

	.cta button {
		width: 40%;
	}

	.count-down-container {
		width: 50%;
		max-width: 60rem;
	}

	.celebrant-content {
		display: flex;
		gap: 0.8rem;
		justify-content: space-around;
	}

	.celebrant-content .images {
		max-width: 44%;
	}

	.celebrant-content .content {
		width: 52%;
	}

	.images {
		width: 44%;
	}

	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 2rem;
		transform: translate(-2rem, -2rem);
	}

	.content .cta {
		gap: 2rem;
		width: 100%;
	}

	.content .cta button {
		padding: 1.6rem 1.24rem;
		width: 100%;
		font-size: 1.48rem;
	}

	.celebrants {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1.2rem;
		justify-content: space-between;
	}

	.wishes {
		display: flex;
		gap: 2rem;
	}

	.wish {
		flex: 1;
	}

	.archives-container {
		display: flex;
		justify-content: space-between;
		width: 100%;
		max-width: 90rem;
		margin: 0 auto;
		gap: 1.2rem;
	}

	.archives-container + button {
		width: 50%;
		margin: 2rem auto;
	}

	.archive {
		padding: 4rem 2.4rem;
		background-color: var(--primary-color);
		margin: 2.8rem 0;
		border-radius: 1.2rem;
		width: 32%;
		margin: 0 auto;
	}

	footer {
		font-size: 1.2rem;
	}

	.footer-container {
		display: flex;
		justify-content: space-between;
		gap: 4.4rem;
	}

	.footer-container + div {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.footer-right .right {
		display: flex;
		align-items: center;
	}

	footer .right img {
		width: 72px;
		height: 30px;
	}

	.footer-content {
		width: 30rem;
	}

	.footer-links {
		margin-top: 2rem;
	}

	.form-container {
		top: 100%;
	}
}

@media (min-width: 1000px) {
	.content .cta button {
		padding: 1.6rem 1.56rem;
		width: 100%;
		font-size: 1.48rem;
	}

	.form-container {
		width: 50%;
	}

	.close-form {
		width: 2rem;
	}

	.form-container form {
		display: flex;
		flex-direction: column;

		width: 88%;
		margin: 3.2rem auto;
	}
}

@media (min-width: 1000px) {
	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 6.4rem;
		transform: translate(-2rem, -2rem);
	}
}

@media (min-width: 1100px) {
	/* Specific adjustments for laptops */
	.archive {
		padding: 4rem;
		background-color: var(--primary-color);
		margin: 2.8rem 0;
		border-radius: 1.2rem;
	}

	.nav.mobile {
		display: none;
		visibility: hidden;
	}

	.nav.desktop {
		display: block;
	}

	.nav.desktop div:first-child {
		display: flex;
		justify-content: space-between;
	}

	.nav.desktop .right {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.nav.desktop .right img {
		margin-right: 1.6rem;
		width: 72px;
		height: 30px;
	}

	.nav.desktop .right .logo-text {
		font-size: 1.6rem;
		max-width: 32rem;
	}

	.nav.desktop .left {
		display: flex;
		align-items: center;
	}

	.show-or-hide {
		display: block;
	}

	.show-or-hide ul {
		display: flex;
		align-items: center;
		width: 48rem;
	}

	.show-or-hide ul li {
		list-style: none;
		margin: 0 1.2rem;
	}

	.show-or-hide ul li a {
		font-size: 2rem;
		color: var(--white);
		text-decoration: none;
	}

	.show-or-hide + img {
		width: 2.4rem;
		height: 2.4rem;
		margin: 0 2.4rem;
		cursor: pointer;
	}

	.nav.desktop div > button {
		background-color: var(--primary-color);
		color: var(--white);
		padding: 1.2rem 4rem;
		border-radius: 4rem;
		font-weight: 700;
		cursor: pointer;
		outline: none;
		border: none;
		font-size: 1.6rem;
	}

	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 8.4rem;
		transform: translate(-2rem, -2rem);
	}
}

@media (min-width: 1439px) {
	/* CSS rules for screens narrower than 1440px */
	/* Adjust layout, element sizes, font sizes, hide/show elements as needed */
	.images img:last-child {
		position: absolute;
		top: 4rem;
		left: 16rem;
		transform: translate(-2rem, -2rem);
	}
}
