root {
  --white: #ffffff;
  --primary-color: #579ec2;
  --secondary-color: #333333;
  --gray-color: #d9d9d9;
  --bg-color: #cfe5f3;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  color: white;
  overflow-x: hidden; /* prevents horizontal scroll */
  overflow-y: auto; /*  allows vertical scroll */
}

/* .main{
    
    
	
} */

header {
  padding: 0px 70px;
}

.main {
  padding-top: 70px;
}

.logo-main img {
  width: 27%;
}

nav {
  display: flex;
  gap: 50px;
  margin-top: 1rem;
}

nav img {
  display: flex;
}
nav ul {
  display: flex;
  display: flex;
  gap: 40px;
}
nav ul li {
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  color: var(--white);
}

.top {
  display: flex;
}
.wow {
  display: none;
}
.icon img {
  width: 100%;
  margin-left: 1rem;
}
.pro {
  /* width: 4%; */
  margin-top: -0.1rem;
  /* height: 4vh;  */
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
}
.pro img {
  width: 100%;
  background-color: #333333;
  position: relative;
}

.arc {
  margin-top: 6rem;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  font-size: 5rem;
  color: white;
}

.arc p {
  font-size: 1.7rem;
}

.form {
  margin-top: 5rem;
  justify-content: center;
  align-items: center;
  padding: 0px 30px;
  color: #d9d9d9;
  display: flex;
  gap: 15px;
}

.search {
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.242 1.156a5 5 0 1 1 0-10 5 5 0 0 1 0 10z"/></svg>')
    no-repeat 10px center;
  width: 55%;
  height: 7vh;
  border-radius: 20px;
  font-weight: bold;
  text-align: left;
  border: 1px solid rgb(233, 233, 241);
}
.filter {
  border: 1px solid rgb(233, 233, 241);
  width: 21%;
  height: 7vh;
  border-radius: 20px;
  font-weight: bold;
  text-align: left;
}

.sort {
  border: 1px solid rgb(233, 233, 241);
  width: 21%;
  height: 7vh;
  border-radius: 20px;
  font-weight: bold;
}
.search::placeholder {
  padding-left: 40px;
}

.formm {
  display: none;
}

@media (max-width: 750px) {
  .form {
    display: none;
  }

  .formm {
    display: block;
    margin-top: 5rem;
    justify-content: center;
    align-items: center;
    padding: 0px 30px;
    color: #d9d9d9;
  }
  .up {
    display: flex;
    display: 20px;
  }

  .filterr {
    border: 1px solid rgb(233, 233, 241);
    width: 50%;
    border-radius: 20px;
    font-weight: bold;
    text-align: left;
     height: 7vh;
     outline: none;
  }

  .sortt {
    border: 1px solid rgb(233, 233, 241);
    width: 50%;
    height: 7vh;
    border-radius: 20px;
    font-weight: bold;
    margin-left: 1rem;
    text-align: left;
    outline: none;
  }

  .searchh {
    border: 1px solid rgb(233, 233, 241);
    margin-top: 1rem;
    border-radius: 20px;
    font-weight: bold;
  }

  .searchh:focus{
    border: 1px solid #579ec2;
     outline: #579ec2;
  }

  .sortt{
    outline: none;
  }
}
.container {
  margin-top: 4rem;
}

.row-1 {
  margin-top: 2rem;
  display: flex;
  gap: 30px;
  justify-content: center;
  align-items: center;
}

.box-1 {
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #579ec2;
  height: 70vh;
  border-radius: 30px;
}

.box-2 {
  width: 30%;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #579ec2;
  height: 70vh;
  border-radius: 30px;
}

.mini-3 {
  margin-top: 3rem;
  font-size: 16px;
  display: flex;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.box-image {
  border-radius: 50%;
  border: none;
  width: 33%;
  height: 22vh;
  margin-top: 3rem;
  overflow: hidden;
}

.box-image img {
  width: 100%;
}

.box-2 p {
  color: white;
}

.box-2 h1 {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 2rem;
  color: white;
  font-weight: lighter;
}
.minii {
  display: none;
}
.box-1 img {
  margin-top: 3rem;
}

.box-1 p {
  color: white;
}

.box-1 h1 {
  font-size: 1.2rem;
  margin-top: 1rem;
  line-height: 2rem;
  color: white;
  font-weight: lighter;
}
.mini {
  font-size: 16px;
  display: flex;
  text-align: center;
  gap: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.box-image-1 {
  border-radius: 50%;
  border: none;
  width: 33%;
  height: 22vh;
  margin-top: 3rem;
  overflow: hidden;
}

.box-image-1 img {
  width: 120%;
}

.view {
  margin-top: 2rem;
  padding: 15px 50px;
  background: #ffffff;
  border: none;
  color: #579ec2;
  font-weight: bold;
  border-radius: 20px;
}

@media (max-width: 768px) {
  header .header-mini {
    display: flex;
    width: 100%;
  }
  .top {
    margin-top: -3rem;
  }

  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
  }

  .minii {
    display: flex;
  }

  .main background-image {
    height: 20vh;
  }

  top {
    width: 70%;
    display: flex;
    justify-content: space-between;
  }

  .logo-main img {
    width: 75%;
    margin-top: 1rem;
    margin-left: -3rem;
  }
  nav {
    display: none;
  }
  .icon {
    display: flex;
  }
  .wow {
    display: flex;
  }
  .icon {
    width: 30%;
  }
  

  .arc {
    font-size: 2.3rem;
  }
  .arc p {
    font-size: 10px;
  }

  .row-1 {
    display: block;
    justify-content: center;
  }

  .box-1 {
    justify-content: center;
    width: 80%;
    margin-left: 10%;
    margin-top: 1rem;
  }

  .box-2 {
    justify-content: center;
    width: 80%;
    height: ;
    margin-left: 10%;
    margin-top: 1rem;
  }
  .box-image {
    width: 48%;
    height: 20vh;
  }

  .box-image img {
    margin-top: rem;

    width: 100%;
  }
  .pro {
    /* width: 5%;
	height: 5%;  */
    border-radius: 50%;
    overflow: hidden;
    justify-content: center;
    margin-left: 2rem;
  }

  .pro img {
    width: 170%;
    position: relative;
  }

  .icon img {
    width: 90%;
    margin-top: -0.4rem;
    height: 4vh;
    margin-left: 1rem;
  }
  .main style {
    background-image: ;
  }
}
nav li a:hover {
  color: #579ec2;
}

/* .hamburger starts here*/

.mobile-menu {
  position: fixed;
  top: 0;
  width: 60%;
  color: white;
  transition: 0.4s ease;

}

.mobile-menu.active {
  right: 0;
}

.mobile-menu li {
  margin-bottom: 1rem;
  list-style: none;
  color: white;
}

.mobile-menu li a {
  font-size: 1.3rem;
  color: white;
}

.flex {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  font-size: 20px;
  text-decoration: none;
  color: white;
}

.hamburger img {
  width: 70%;
  margin-left: 4rem;
}

.hamburger {
  width: 3rem;
  display: flex;
  margin-top: 1rem;
  color: white;
}

.mobile-menu {
  margin-top: 2rem;
  display: block;
  list-style: none;
  background: white;
  color: skyblue;
  padding-top: 13.5%;
  height: 38.8vh;
  line-height: 2rem;
  position: absolute;
  z-index: 999;
  position: fixed;
  border-radius: 20px;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

.mobile-menu button {
  background: rgb(27, 21, 14);
  padding: 10px 30px;
}

.active {
  right: 0;
}

.mobile-menu li {
  width: 100%;

}

.mobile-menu li a {
  color: blue;
  font-size: 20px;
  text-align: center;

}

.mobile-menu {
  right: -300%;
}
.mobile-menu.active {
  right: 0;
}

.mobile-menu li button {
  background: none;
  border: none;
  width: 100%;
  margin-top: -3rem;
}


.mobile-menu img {
    margin-left: 8rem;
    margin-top: 2rem;
    width: 23%;
}
.header-mini {
  display: none;
}

footer {
  background: #333333;
  color: #fff;
  padding: 60px 50px;
  margin-top: 7rem;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

/* --- Left Side --- */
.part-1 {
  width: 55%;
}

.foot-logo {
  display: flex;
  gap: 20px;
  align-items: center;
}

.foot-logo img {
  width: 50%;
}

/* --- About Us --- */
.aboutus {
  margin-top: 2rem;
}

.aboutus h1 {
  font-size: 1.1rem;
}

.aboutus p {
  margin-top: 1rem;
  line-height: 1.3rem;
  font-size: 0.9rem;
  color: #ccc;
  width: 70%;
}

/* --- Bottom Links --- */
.bottom {
  margin-top: 3rem;
  display: flex;
  flex-wrap: wrap;
}

.bottom p {
  color: gray;
  border-right: 2px solid gray;
  padding: 0 10px;
  font-weight: bold;
  font-size: 14px;
}

.bottom p:last-child {
  border: none;
}

.part-2 {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  flex: 1;
}

.part-2 h2 {
  margin-bottom: 15px;
  font-size: 1.1rem;
}
.quick {
  line-height: 1.5rem;
}
.quick p,
.cont p {
  margin: 5px 0;
  font-size: 15px;
  color: #ccc;
}

.cont p b {
  display: block;
  margin-bottom: 2px;
  color: #fff;
}

.copyright {
  margin-left: 33rem;
  width: 100%;
  text-align: right;
  color: gray;
  font-size: 14px;
  margin-top: -1.5rem;
  font-weight: bold;
}


.last{
  display: none;
}





@media (max-width: 750px) {
  footer {
    padding: 80px 30px;
    bottom: 0;
  }
  .footer-container {
    flex-direction: column;
  }
  .foot-text p {
    font-size: 13px;
    color: #ccc;
  }
  .foot-text h1 {
    font-size: 1.3rem;
  }
  .part-1,
  .part-2 {
    width: 100%;
  }

  .part-2 {
    margin-top: 40px;
    flex-direction: column;
    gap: 20px;
  }

  .aboutus p {
    margin-top: 1rem;
    line-height: 1.3rem;
    font-size: 0.9rem;
    color: #ccc;
    width: 100%;
  }

  .bottom {
    display: none;
  }
  .copyright {
    display: none;
  }

 .last{
  display: block;
  margin-top: 1.5rem;
  bottom: 0;
  color: gray;

}
  .last-1 {
    display: flex;

}

.last-1 p {
  color: gray;
  border-right: 2px solid gray;
  padding: 0 px;
  font-weight: bold;
  font-size: 11.2px;
  padding-right: 3px;
  padding-left: 2px;
}

.last-1 p:last-child{
  border: none;
}

.last-2{
  margin-top: 10px;
  font-size: 15px;
}


.searchh{
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="gray" viewBox="0 0 16 16"><path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.242 1.156a5 5 0 1 1 0-10 5 5 0 0 1 0 10z"/></svg>')
    no-repeat 10px center;
     width: 100%;
  height: 7vh;
  padding: 25px;
  border-radius: 20px;
  font-weight: bold;
  text-align: left;
  border: 1px solid rgb(233, 233, 241);

 
}




}
