@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
	--bg-color: #cfe5f3;
	--post-color: #767676;
	--post-bg: #f6f6f6;
	--nav-bg: #ececec;
}

/* pg structure */

/* header */

header {
	color: var(--white);
	background-image: url("./images/hero_mobile.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	gap: 10px;
	width: 100%;
	position: relative;
}

nav {
	width: 96%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
}


.right {
	display: flex;
	align-items: center;
}

.right img {
	width: 3.2rem;
	height: 3.2rem;
	margin-right: 0.4rem;
}

.right h2 {
	margin: 0;
	font-size: 1.4rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	margin-bottom: 0.4rem;
}

.right p {
	font-size: 0.88rem;
}

.left {
	display: flex;
	align-items: center;
	position: sticky;
}

.show-or-hide {
	display: none;

	/* position: sticky; */
	/* z-index: inherit; */
	/* z-index: 1000; */
}

.left ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 2rem;
	height: 100vh;
	margin: 0;
	width: 24rem;
	background-color: var(--nav-bg);

	position: fixed;
	/* position: sticky; */
	left: 0;
	top: 9.6rem;
}

.left li {
	margin: 0;
}

li a {
	padding: 4rem 0;
	width: 100%;
	display: block;
	color: var(--secondary-color);
	text-decoration: none;
	font-size: 1.6rem;
	font-weight: 700;
}

.left img {
	margin: 0 1.2rem;
	width: 1.2rem;
	cursor: pointer;
}

.left button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 1rem 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* main */

/* hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-content {
	color: var(--white);
	text-align: center;
	margin-bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.8rem;
}

.hero-content p {
	width: 90%;
}

.cta {
	display: flex;
	flex-direction: column;
	width: 100%;
}

.cta button {
	background-color: transparent;
	color: var(--white);
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.6rem;
	width: 88%;
	margin: 1.2rem auto;
	border: none;
}

.cta button:first-child {
	background-color: var(--primary-color);
	border: none;
}

.cta button:last-child {
	border: 2px solid var(--white);
}
#cta-btn a{
	text-decoration: none;
	color: var(--white);
}

/* countdown */
.count-down-container {
	width: 88%;
	margin: 0 auto;
}

.count-down {
	display: flex;
	justify-content: space-between;
	width: 80%;
	position: absolute;
	bottom: -2.56rem;
	left: 10%;
	right: 10%;
	background-color: var(--primary-color);
	padding: 0.8rem 2.4rem;
	border-radius: 3.6rem;
	color: var(--white);
	z-index: 100;
}

.days,
.hours,
.minutes,
.seconds {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.count-down p:first-child {
	font-weight: 700;
	font-size: 2rem;
}
.count-down p:last-child {
	font-size: 1.2rem;
}

/* celebrant */
section {
	padding: 2.4rem;
	position: relative;
}

.celebration-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;
	z-index: -1;
}

.pop-left img,
.pop-right img {
	width: 52px;
	height: 52px;
	object-fit: contain;
}

.pop-left img {
	position: absolute;
	left: 0;
	top: -2.8rem;
}

.pop-right img {
	position: absolute;
	right: 0;
	top: -2.8rem;
}

.celebrant-title {
	text-align: center;
	margin-bottom: 4rem;
}

.title {
	font-size: 2.4rem;
	margin-bottom: 1.2rem;
}

.celebrant-title p {
	font-size: 1.52rem;
}

.celebrant-content {
	margin: 4.8rem 0;
	padding: 2.4rem 0;
}

.images {
	position: relative;

	margin-bottom: 3.6rem;
}

.images img:first-child {
	width: 100%;
}

.images img:last-child {
	position: absolute;
	top: 5%;
	left: 0%;
	width: 10rem;
}

.content {
	text-align: justify;
}

.content p {
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.salutation p {
	font-weight: 700;
}

.content span {
	font-weight: 700;
}

.content .cta button {
	width: 100%;
	margin-left: 0;
	border: 1px solid var(--primary-color);
}

.content .cta button:last-child {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

/* Countdown */
.bg-color-changed {
	background-color: var(--bg-color);
	padding: 4rem 2.4rem;
	text-align: center;
}

.celebrant {
	margin: 2.8rem 0;
}

.celebrant img {
	margin-bottom: 1.2rem;
}

.celebrant h5 {
	margin-bottom: 0.48rem;
	font-size: 1.6rem;
}

/* Wishes */
.wish {
	margin: 1.6rem 0;
}

.heading {
	display: flex;
	align-items: center;
	margin: 1.2rem 0;
}

.heading img {
	width: 5.2rem;
	margin-right: 1.6rem;
}

.name-time h5 {
	font-size: 1.6rem;
}

.name-time p {
	font-size: 1.2rem;
	margin: 0;
}

.heading + p {
	margin: 1.6rem 0;
}

.reply {
	display: flex;
	align-items: center;
}

.reply p:first-child {
	margin-right: 1.6rem;
	text-decoration: underline;
	cursor: pointer;
}

.emoji img {
	margin: 0;
	cursor: pointer;
}

/* comment */
.comment {
	background-color: var(--post-bg);
	color: var(--post-color);
	width: 88%;
	margin: 2rem auto 6.4rem;
	border-radius: 1.2rem;
}

.comment p {
	margin-bottom: 4rem;
}

.comment input {
	width: 100%;
	background-color: var(--post-bg);
	border: none;
	outline: none;
	border-bottom: 1.6px solid #d9d9d9;
}

.social-btns {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 3.2rem 0;
}

.icon-emoji img {
	margin-right: 1.2rem;
	cursor: pointer;
}

.social-btns button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 0.8rem 2.4rem;
	border-radius: 4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* Archives */
.archives {
	color: var(--white);
}

.archive {
	padding: 4rem 0;
	background-color: var(--primary-color);
	margin: 2.8rem 0;
	border-radius: 1.2rem;
}

.archive > img {
	width: 8rem;
	margin: 1.2rem 0;
}

.archive > p {
	font-weight: 700;
	font-size: 2rem;
}

.year + h5 {
	font-weight: 500;
	margin: 1.2rem 0;
}

.reactions {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 9.6rem;
	margin: 2rem auto;
}

.reactions > div {
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 1.2rem;
}

.reactions img {
	width: 2.4rem;
}

.reactions + button {
	color: var(--primary-color);
	background-color: var(--white);
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.2rem;
	width: 20rem;
	margin: 1.2rem auto;
	border: none;
}

.archive + button {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
	background-color: transparent;
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	font-size: 1.6rem;
	width: 100%;
	margin: 1.2rem auto;
}
#arc-btn a{
	text-decoration: none;
	color: var(--primary-color);
}

/* footer */
footer {
	background-color: var(--secondary-color);
}

/* media queries */
@media (max-width: 1439px) {
	/* CSS rules for screens narrower than 1440px */
	/* Adjust layout, element sizes, font sizes, hide/show elements as needed */
}

/* Example for a common laptop breakpoint */
@media (min-width: 1200px) {
	/* Specific adjustments for laptops */

	.right img {
		width: 40px;
		height: 40px;
		margin-right: 1.2rem;
	}

	.right h2 {
		font-size: 1.68rem;
		letter-spacing: 0.04rem;
		word-spacing: 0.08rem;
		margin-bottom: 0.4rem;
	}

	.right p {
		font-size: 1.04rem;
	}

	.left img {
		margin: 0 2rem;
		width: 1.6rem;
		cursor: pointer;
	}

	.show-or-hide {
		display: block;
	}

	/* .left ul {
		display: flex;
		list-style: none;
		align-items: center;

		visibility: visible;
	} */

	.left button {
		background-color: var(--primary-color);
		color: var(--white);
		padding: 0.8rem 2.4rem;
		border-radius: 4rem;
		font-weight: 700;
		cursor: pointer;
		outline: none;
		border: none;
	}
}

/* Example for a tablet breakpoint */
@media (min-width: 768px) {
	/* Specific adjustments for tablets */
}

/* Example for a mobile breakpoint */
@media (max-width: 375px) {
	/* Specific adjustments for mobile phones */
}



/* .hamburger starts here*/



.mobile-menu {
  position: fixed;
  top: 0;
  height: 60vh;
  width: 60%;
  color: white;
  transition: 0.4s ease;

}

.mobile-menu {
  color: white;
}
.mobile-menu li a {
  color: white;
}

.mobile-menu.active {
  right: 0;
}

.mobile-menu li {

 
  list-style: none;
  color: white;
}

.mobile-menu li a {
  font-size: 1.5rem;
  color: white;
}

.flex {
  display: flex;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.hamburger {
  margin-top: -3%;
}

.hamburger img {
	margin-top: 1rem;
  width: 150%;
  margin-left: -0.5rem;
}

.hamburger {
  width: 3rem;
  display: flex;
  color: white;
}

.mobile-menu {
  display: block;
  list-style: none;
  background: var(--primary-color);
  padding-top: 13.5%;
  transition: 1s;
   z-index: 999;
}

.hamburger button {
  background-color: transparent;
  border: none;
}

.mobile-menu button {
 
  padding: 20px 30px;
}

.active {
  right: 0;
}



.mobile-menu li {
  width: 98%;

  color: white;
}

.mobile-menu li a {
  margin-left: 2rem;
  color: white;
}

.mobile-menu {
  right: -300%;
}
.mobile-menu.active {
  right: 0;
}

.mobile-menu li button {
  background: var(--bg-color);
  border: none;
}

.mobile-menu img {
  width: 25%;
}



