@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
}

/* pg structure */

/* header */

header {
	color: var(--white);
	background-image: url("./images/hero.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;

	/* display: block; */
	position: relative;
}

nav {
	width: 96%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
}

.right {
	display: flex;
	align-items: center;
}

.right img {
	/* for higher width */
	/* width: 40px;
	height: 40px;
	margin-right: 1.2rem; */

	width: 20px;
	height: 20px;
	margin-right: 0.4rem;
}

.right h2 {
	/* font-size: 1.68rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	margin-bottom: 0.4rem; */
	margin: 0;
	font-size: 1.2rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	/* margin-bottom: 0.4rem; */
}

.right p {
	font-size: 0.64rem;
}

.left {
	display: flex;
	align-items: center;
}

.left ul {
	display: flex;
	list-style: none;
	align-items: center;

	visibility: none;
	display: none;
}

li a {
	margin: 0 2rem;
	color: var(--white);
	text-decoration: none;
	padding: 0.8rem 2rem;
	font-size: 1.6rem;
	font-weight: 700;
}

.left img {
	/* margin: 0 2rem;
	width: 1.6rem; */
	margin: 0 1.2rem;
	width: 1.2rem;
	cursor: pointer;
}

.left button {
	background-color: var(--primary-color);
	color: var(--white);
	/* padding: 0.8rem 2.4rem;
	border-radius: 4rem; */
	padding: 0.4rem 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* main */

/* countdown */
.count-down {
	display: flex;
	justify-content: space-between;
	width: 48%;
	/* margin: 0 auto; */
	/* text-align: center; */

	position: absolute;
	bottom: -3.12rem;
	left: 26%;
	right: 26%;

	background-color: var(--primary-color);
	padding: 1.2rem 10rem;

	border-radius: 3.6rem;
	color: var(--white);
}

.days,
.hours,
.minutes,
.seconds {
	display: flex;
	flex-direction: column;
	/* justify-content: center; */
	align-items: center;
	/* border: 2px solid green; */
}

.count-down p:first-child {
	font-weight: 700;
	font-size: 2rem;
}
.count-down p:last-child {
	/* font-weight: 700; */
	font-size: 1.2rem;
}

main {
	margin: 8rem 0;
}

/* media queries */
@media (max-width: 1439px) {
	/* CSS rules for screens narrower than 1440px */
	/* Adjust layout, element sizes, font sizes, hide/show elements as needed */
}

/* Example for a common laptop breakpoint */
@media (min-width: 1200px) {
	/* Specific adjustments for laptops */

	.right img {
		/* for higher width */
		width: 40px;
		height: 40px;
		margin-right: 1.2rem;

		/* width: 20px;
		height: 20px;
		margin-right: 0.4rem; */
	}

	.right h2 {
		font-size: 1.68rem;
		letter-spacing: 0.04rem;
		word-spacing: 0.08rem;
		margin-bottom: 0.4rem;
		/* font-size: 1.2rem;
		letter-spacing: 0.04rem;
		word-spacing: 0.08rem; */
		/* margin-bottom: 0.4rem; */
	}

	.right p {
		font-size: 1.04rem;
	}

	.left img {
		margin: 0 2rem;
		width: 1.6rem;
		/* margin: 0 1.2rem;
	width: 1.2rem; */
		cursor: pointer;
	}

	.left ul {
		display: flex;
		list-style: none;
		align-items: center;

		visibility: visible;
		/* display: block; */
	}

	.left button {
		background-color: var(--primary-color);
		color: var(--white);
		padding: 0.8rem 2.4rem;
		border-radius: 4rem;
		/* padding: 0.4rem 1.6rem;
		border-radius: 2.4rem; */
		font-weight: 700;
		cursor: pointer;
		outline: none;
		border: none;
	}
}

/* Example for a tablet breakpoint */
@media (min-width: 768px) {
	/* Specific adjustments for tablets */
}

/* Example for a mobile breakpoint */
@media (max-width: 375px) {
	/* Specific adjustments for mobile phones */
}
