@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
	--bg-color: #cfe5f3;
}

/* pg structure */

/* header */

header {
	color: var(--white);
	background-image: url("./images/hero_mobile.png");
	background-size: cover;
	background-position: top center;
	background-repeat: no-repeat;
	height: 100vh;
	width: 100%;
	position: relative;
}

nav {
	width: 96%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
}

.hamburger {
	height: 3.2rem;

	margin-right: 0.4rem;
	cursor: pointer;
}

.right {
	display: flex;
	align-items: center;
}

.right img {
	width: 3.2rem;
	height: 3.2rem;
	margin-right: 0.4rem;

	/* border: 2px solid red; */
}

.right h2 {
	margin: 0;
	font-size: 1.4rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	margin-bottom: 0.4rem;
}

.right p {
	font-size: 0.88rem;
}

.left {
	display: flex;
	align-items: center;
}

.left ul {
	display: flex;
	list-style: none;
	align-items: center;

	visibility: none;
	display: none;
}

li a {
	margin: 0 2rem;
	color: var(--white);
	text-decoration: none;
	padding: 0.8rem 2rem;
	font-size: 1.6rem;
	font-weight: 700;
}

.left img {
	margin: 0 1.2rem;
	width: 1.2rem;
	cursor: pointer;
}

.left button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 1rem 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* main */
main {
	/* width: 100vw; */
}

main {
	margin: 8rem 0;
}

/* hero */
.hero {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100vw;

	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hero-content {
	color: var(--white);
	text-align: center;
	/* margin: 0 auto; */
	margin-bottom: 4rem;

	/* border: 1px solid red; */

	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-size: 2.8rem;
}

.hero-content p {
	width: 90%;
}

.cta {
	display: flex;
	flex-direction: column;

	width: 100%;
}

.cta button {
	background-color: transparent;
	color: var(--white);
	padding: 1.6rem;
	border-radius: 2.4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;

	font-size: 1.6rem;

	width: 88%;
	margin: 1.2rem auto;
}

.cta button:first-child {
	background-color: var(--primary-color);
	border: none;
}
.cta button:last-child {
	border: 2px solid var(--white);
}

/* countdown */
.count-down-container {
	width: 88%;
	margin: 0 auto;
}

.count-down {
	display: flex;
	/* justify-content: center; */
	justify-content: space-between;
	width: 80%;

	position: absolute;
	bottom: -2.56rem;
	left: 10%;
	right: 10%;
	background-color: var(--primary-color);
	/* transform: translate(5%, 25%); */
	padding: 0.8rem 2.4rem;
	border-radius: 3.6rem;
	color: var(--white);

	z-index: 100;
}

.days,
.hours,
.minutes,
.seconds {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.count-down p:first-child {
	font-weight: 700;
	font-size: 2rem;
}
.count-down p:last-child {
	font-size: 1.2rem;
}

/* celebrant */
section {
	padding: 2.4rem;
	position: relative;
}

.celebration-icons {
	display: flex;
	justify-content: space-between;
	width: 100%;

	z-index: -1;
}

.pop-left img,
.pop-right img {
	width: 52px;
	height: 52px;
}

.pop-left img {
	position: absolute;
	left: 0;
	top: -8rem;
}

.pop-right img {
	position: absolute;
	right: 0;
	top: -8rem;
}

.celebrant-title {
	text-align: center;
	margin-bottom: 4rem;
}

.title {
	font-size: 2.4rem;
	margin-bottom: 1.2rem;
}

.celebrant-title p {
	font-size: 1.52rem;
}

.celebrant-content {
	/* display: flex; */
	/* align-items: center; */
	/* justify-content: center; */
	/* gap: 7.2rem; */

	margin: 4.8rem 0;

	padding: 2.4rem 0;
}

.images {
	position: relative;

	margin-bottom: 3.6rem;
}

.images img:first-child {
	/* position: absolute;
	top: 5%;
	left: 0%; */

	/* width: 5rem; */
	width: 100%;
}

.images img:last-child {
	position: absolute;
	top: 5%;
	left: 0%;

	width: 10rem;
}

.content {
	text-align: justify;
}

.content p {
	margin-bottom: 2rem;
	font-size: 1.6rem;
}

.salutation p {
	font-weight: 700;
}

.content span {
	font-weight: 700;
}

.content .cta {
	/* width: 100%; */

	/* border: 2px solid green; */
}

.content .cta button {
	width: 100%;

	margin-left: 0;
	border: 1px solid var(--primary-color);
}

.content .cta button:last-child {
	border: 1px solid var(--primary-color);
	color: var(--primary-color);
}

/* Countdown */
.bg-color-changed {
	background-color: var(--bg-color);
	padding: 4rem 2.4rem;

	/* border: 3px solid green; */
	text-align: center;
}

.celebrant {
	margin: 2.8rem 0;
}

.celebrant img {
	width: 100%;
	margin-bottom: 1.2rem;
}

.celebrant h5 {
	margin-bottom: 0.48rem;
	font-size: 1.6rem;
}

/* footer */
footer {
	background-color: var(--secondary-color);
}

/* media queries */
@media (max-width: 1439px) {
	/* CSS rules for screens narrower than 1440px */
	/* Adjust layout, element sizes, font sizes, hide/show elements as needed */
}

/* Example for a common laptop breakpoint */
@media (min-width: 1200px) {
	/* Specific adjustments for laptops */

	.right img {
		width: 40px;
		height: 40px;
		margin-right: 1.2rem;
	}

	.right h2 {
		font-size: 1.68rem;
		letter-spacing: 0.04rem;
		word-spacing: 0.08rem;
		margin-bottom: 0.4rem;
	}

	.right p {
		font-size: 1.04rem;
	}

	.left img {
		margin: 0 2rem;
		width: 1.6rem;
		/* margin: 0 1.2rem;
	width: 1.2rem; */
		cursor: pointer;
	}

	.left ul {
		display: flex;
		list-style: none;
		align-items: center;

		visibility: visible;
		/* display: block; */
	}

	.left button {
		background-color: var(--primary-color);
		color: var(--white);
		padding: 0.8rem 2.4rem;
		border-radius: 4rem;
		font-weight: 700;
		cursor: pointer;
		outline: none;
		border: none;
	}
}

/* Example for a tablet breakpoint */
@media (min-width: 768px) {
	/* Specific adjustments for tablets */
}

/* Example for a mobile breakpoint */
@media (max-width: 375px) {
	/* Specific adjustments for mobile phones */
}
