@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
}

/* pg structure */

/* header */
header {
	color: var(--white);
	/* height: 100vh; */
	/* height: 100%; */
	/* width: 500px; */
	/* max-width: 40rem; */

	/* max-height: 100%; */
}

.inner-container {
	height: 100vh;
	/* max-width: 100%; */
	/* height: 100vh; */
	/* display: block; */
	/* max-height: auto; */
	font-size: 1.2rem;
	background-image: url("./images/hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	width: 96%;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 4rem 0;
}

.right {
	display: flex;
	align-items: center;
}

.right img {
	width: 40px;
	height: 40px;
	margin-right: 1.2rem;
}

.right h2 {
	font-size: 1.68rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	margin-bottom: 0.4rem;
}

.right p {
	font-size: 1.04rem;
}

.left {
	display: flex;
	align-items: center;
}

.left ul {
	display: flex;
	list-style: none;
}

li a {
	margin: 0 2rem;
	color: var(--white);
	text-decoration: none;
	/* padding: 0.4rem 1.6rem; */
	padding: 0.8rem 2rem;
	font-size: 1.6rem;
	font-weight: 700;
}

.left img {
	margin: 0 2rem;
	width: 1.6rem;
	cursor: pointer;
}

.left button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 0.8rem 2.4rem;
	border-radius: 4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}

/* media queries */
@media (max-width: 1439px) {
	/* CSS rules for screens narrower than 1440px */
	/* Adjust layout, element sizes, font sizes, hide/show elements as needed */
}

/* Example for a common laptop breakpoint */
@media (max-width: 1200px) {
	/* Specific adjustments for laptops */
}

/* Example for a tablet breakpoint */
@media (min-width: 768px) {
	/* Specific adjustments for tablets */
}

/* Example for a mobile breakpoint */
@media (max-width: 480px) {
	/* Specific adjustments for mobile phones */
}
