@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;

	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
}

/* pg structure */

/* header */
header {
	/* background-color: var(--primary-color); */

	color: var(--white);
	height: 100vh;

	background-image: url("./images/hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	width: 80%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	border: 2px solid orange;
	padding: 4rem 0;
}

.right {
	display: flex;

	border: 2px solid red;
}

.right img {
	width: 40px;
	height: 40px;
}
