@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	font-size: 1.6rem;
	font-family: "Plus Jakarta Sans", sans-serif;
}

:root {
	--white: #ffffff;
	--primary-color: #579ec2;
	--secondary-color: #333333;
	--gray-color: #d9d9d9;
}

/* pg structure */

/* header */
header {
	color: var(--white);
	height: 100vh;
	font-size: 1.2rem;
	background-image: url("./images/hero.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

nav {
	width: 96%;
	margin: 0 auto;

	display: flex;
	justify-content: space-between;
	align-items: center;

	border: 2px solid orange;
	padding: 4rem 0;
}

.right {
	display: flex;

	border: 2px solid red;
}

.right img {
	width: 40px;
	height: 40px;
	margin-right: 2rem;
}

.right h2 {
	font-size: 1.68rem;
	letter-spacing: 0.04rem;
	word-spacing: 0.08rem;
	margin-bottom: 0.4rem;
}

.right p {
	font-size: 1.04rem;
}

.left {
	display: flex;
	align-items: center;
}

.left ul {
	display: flex;
	list-style: none;
}

li a {
	margin: 0 2rem;
	color: var(--white);
	text-decoration: none;
	padding: 0.4rem 1.6rem;
	padding: 0.8rem 2rem;
}

.left img {
	margin: 0 2rem;
	width: 1.6rem;
	cursor: pointer;
}

.left button {
	background-color: var(--primary-color);
	color: var(--white);
	padding: 0.8rem 2.4rem;
	border-radius: 4rem;
	font-weight: 700;
	cursor: pointer;
	outline: none;
	border: none;
}
